absl-py==0.7.1
alabaster==0.7.12
astor==0.8.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
boto==2.49.0
boto3==1.9.147
botocore==1.12.147
certifi==2019.3.9
chardet==3.0.4
cloudpickle==1.0.0
commonmark==0.9.0
cycler==0.10.0
dask==1.2.2
decorator==4.4.0
Django==2.2.1
doc8==0.8.0
docutils==0.14
elasticsearch==7.0.1
entrypoints==0.3
flake8==3.7.7
funcy==1.12
future==0.17.1
gast==0.2.2
gensim==3.7.2
grpcio==1.20.1
h5py==2.9.0
idna==2.8
imagesize==1.1.0
inexactsearch==1.0.2
ipykernel==5.1.0
ipython==5.3.0
ipython-genutils==0.2.0
isort==4.3.20
jedi==0.13.3
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
JPype1==0.6.3
jupyter-client==5.2.4
jupyter-core==4.4.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
konlpy==0.5.1
lazy-object-proxy==1.4.1
lxml==4.3.3
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.0.1
mccabe==0.6.1
mecab-python3==0.996.2
mock==3.0.5
more-itertools==7.0.0
networkx==2.1
numexpr==2.6.9
numpy==1.22.0
numpydoc==0.7.0
packaging==19.0
pandas==0.23.4
parso==0.4.0
pbr==5.2.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
pluggy==0.11.0
pockets==0.7.2
prompt-toolkit==1.0.16
protobuf==3.7.1
ptyprocess==0.6.0
py==1.8.0
pybind11==2.2.4
pycodestyle==2.5.0
pydocstyle==3.0.0
pyflakes==2.1.1
Pygments==2.4.2
pyLDAvis==2.1.2
pylint==2.3.1
pyparsing==2.4.0
pytest==4.5.0
python-dateutil==2.8.0
pytz==2019.1
pyvis==0.1.6.0
PyWavelets==1.0.3
pyzmq==18.0.0
recommonmark==0.5.0
requests==2.21.0
restructuredtext-lint==1.3.0
s3transfer==0.2.0
scikit-image==0.14.2
scikit-learn==0.20.2
scipy==1.2.0
sentencepiece==0.1.4
silpa-common==0.3
simplegeneric==0.8.1
six==1.12.0
smart-open==1.8.3
snowballstemmer==1.2.1
soundex==1.1.3
spellchecker==0.4
Sphinx==2.0.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
stevedore==1.30.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
toolz==0.9.0
tornado==6.0.2
traitlets==4.3.2
typed-ast==1.3.5
Unidecode==1.0.23
urllib3==1.24.3
wcwidth==0.1.7
Werkzeug==0.15.4
wordcloud==1.5.0
wrapt==1.11.1
xlrd==1.2.0
